/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --image-bg-page: url("../images/cover-image-dark.png");
  --color-bg-primary: #000028;
  --color-bg-secondary: #ff0070;
  --accent-color: #000028;
  --color-text: #f1b2ce;
  --color-text-primary: #ff0070;
  --color-text-secondary: #db00ff;
  --color-border: #ff0070;
  --color-border-transparent: rgb(255, 0, 112, 0.5);
  --font-size-accent: 18px;
}
